.login-warpper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../images/banner/home.webp');
    overflow: hidden;

    .login-container {
        margin: 1rem;
    }

    .login-title {
        padding: 3rem 0 2rem 0;

        h1{
            color: #292929;
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 1.4;
        }

        .login-logo {
            text-align: center;
            font-size: 4rem;
            color: #350a4e;
        }
    }

    .login-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        width: 55rem;
        min-height: 500px;
        border-radius: 5px;
        .login-group-input {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 380px;
    
            .login-wp-text {
                padding-left: 2rem;
                width: 100%;
            }
    
            .login-form-input-warper {
                width: 100%;      
            }
            
            .login-form-input {
                background: rgba(22,24,35,.06);
                overflow: hidden;
                border: 1px solid rgba(22,24,35,.09);
                color: #464646;
                border-radius: 4.4rem;
                display: flex;
                height: 4.5rem;
                width: 100%;
                margin: 4px;
                outline: none;
                padding: 12px 20px;
            }
    
            .login-form-input:last-child{
                margin-bottom: 1rem;
            }
        }
    
        .login-label-email {
            display: block;
        }
    
        .login-note-dontacc {
            font-size: 1.4rem;
            margin-top: 2rem;
            text-align: center;          
        }
    
        .login-accep {
            text-align: center;
            font-size: 1.2rem;
            margin-top: 3rem;
        }

        .text-color {
            color: #fa9e1b;;
        }
    }
    
    .login-about {
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        padding: 2rem;
        font-weight: 400;

        .about{
            text-decoration: none;
            color: #fff;
        }
        .space {
            color: #fff;
            display: inline;
            padding-left: 0.1rem;
            padding-right: 0.1rem;
            margin-top: -0.2rem;
        }
    }
    
}