.login-container {
    width           : 100vw;
    height          : 100vh;
    background-color: #7a7abb;
    display         : flex;
    justify-content : center;
    align-items     : center;
    color           : green
}