.dot-1 {

    background-color: #fff;

}

.dot-2 {

    background-color: #fff;
    opacity         : .6;
}

.dot-3 {

    background-color: #fff;
    opacity         : .3;
}

.dot {
    margin-left     : .6rem;
    width           : .6rem;
    height          : .6rem;
    background-color: #fff;
    border-radius   : 999px;
    display         : inline-block;
}