.testimonialsItem-container {
    height: 53.2rem;

    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;

    .icon {
        background-color: var(--yellow-color);
        width           : 7.2rem;
        height          : 7.2rem;
        border-radius   : 999px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        position        : absolute;
        left            : var(--position-absolute-left);
        top             : -7%;
        transition      : all .4s ease;

        &:hover {
            filter: brightness(125%);

        }



        img {
            filter: brightness(200%) grayscale(100%);

        }
    }

    .customer-info {
        color           : var(--title-color);
        background-color: #fff;
        position        : absolute;
        left            : var(--position-absolute-left);
        top             : 46%;
        padding         : 1rem 2rem;
        z-index         : 1;

        .name {
            font-size     : 1.4rem;
            text-transform: uppercase;
            font-weight   : 650;

        }

        .dateTime {
            font-size: 1.1rem;
        }
    }

    .customer-comment {
        position   : absolute;
        left       : var(--position-absolute-left);
        right      : 10%;
        color      : #fff;
        top        : 60%;
        z-index    : 1;
        font-weight: normal;

        .customer-comment-title {
            font-size    : 2rem;
            margin-bottom: 1.2rem;
        }

        .customer-comment-description {
            font-size  : 1.4rem;
            line-height: 2;
        }
    }

    .bottom-background {
        position        : absolute;
        bottom          : 0;
        width           : 100%;
        height          : 47%;
        display         : block;
        background-color: rgba(49, 18, 75, .8);
    }
}