@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #31124b;
    --black        : #000;
    --white        : #fff;
    --text-color   : #161823;
    --font-opensan : 'Open Sans', sans-serif;
    --linear-color : linear-gradient(to right, #fa9e1b 0%, #8d4fff 51%, #fa9e1b 100%);

}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    font-size     : 1.6rem;
    line-height   : 1.5;
    text-rendering: optimizeSpeed;
    color         : var(--text-color);
    font-family   : var(--font-opensan);

}

.button_primary {
    width           : 19.6rem;
    height          : 5.3rem;
    background-color: var(--primary-color);
    cursor          : pointer;
    color           : var(--white);
    transition      : .4s;

    &:hover {
        opacity: .8;
    }
}

.button_linear {
    line-height     : 5.3rem;
    background-image: var(--linear-color);
    margin          : 10px;

    width          : 19.6rem;
    height         : 5.3rem;
    text-align     : center;
    text-transform : uppercase;
    transition     : 0.4s;
    background-size: 200% auto;
    color          : white;
    box-shadow     : 0 0 20px #eee;
    border-radius  : 50px;
    display        : block;
    cursor         : pointer;
    text-align     : center;

    &:hover {
        background-position: right center;



    }
}


//Fonts emmbeded